

.home-search-container input {
  width: 500px;
  height: 38px;
  background-color:#f2f2f2;
  border: none;
  padding: 2px 14px;
  margin-top: 2px;
}


.home-search-container h2 {
  font-weight:lighter;
}

