.playlists-container > p {
padding-top: 20px;
  font-size: 14px;
  color: #999;
  width: 100%;

}

.playlist-image {
  width: 200px;
  height: 200px;
}





.playlist-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;

  /* margin-left: 20px; */

}
