.upload-content {
display: flex;
justify-content:center;
align-items: center;
  padding: 14px 25px 0;
 margin: 50px auto;
  border: .2px solid rgb(217, 206, 206);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
height: 80%;
width: 80%;
}

.upload-form {
  height: 100%;
  display: block;
  margin-top: px;
padding-top: 20px;
margin: 50px;

position: relative;

}


.image-preview {
  background-image: linear-gradient(135deg,#846170,#70929c);
  width: 260px;
  height: 260px;
margin: 50px;
 left: 65px;
 /* padding-top: px; */


}

.upload-song-input {
  border: 1px solid #ccc;
width: 180px;
  /* padding: 6px 12px; */
  padding: 5px;
  /* margin-left: 10px; */
  /* height: 14px; */
}

.upload-song-input > input {
  display: none;
  cursor: pointer;
}
