






.username-div {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.password-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
}


.modal-body {
  width: fit-content;
}
