.search-results-container {
  position: fixed;
  width: 1155px;
  height: 100%;
}

.search-results-heading {
  float: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-weight:lighter;
  font-size: 16px;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: .5px solid rgb(194, 191, 191);
  width: 100%;
}

.search-results-heading p {
  margin: 0;
  padding-bottom: 4px;
}

.search-results-categories {
  position: absolute;
  top: 49px;
  left: -30px;
}

.search-categories-list li {
  margin-bottom: 5px;
}

.number-of-results {
  color:rgb(194, 191, 191);
}

.search-results {
  margin-left: 140px;
  margin-top: 62px;
  overflow-y: scroll;
  height: 100%;
}

#user-image-search {
  height: 140px;
  width: 140px;
  margin-right: 20px;
border-radius: 100%;
background-image: linear-gradient(rgb(211, 119, 86), rgba(113, 85, 156, 0.462), rgba(34, 47, 168, 0.886), rgb(174, 82, 82) );
}

.search-user-card {
  margin: 30px 0;
  display: flex;
  align-items: center;
}
