


.container{
  display: block;
  /* padding: 0 30px; */
  margin: 0 auto;
  width: 75%;
min-height: 100%;
background-color: white;
padding: 0;
}

.top-images-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
justify-content: space-between;
  position: relative;

  border-top: 4px solid #f50;
}


.main-content {
  min-height: 100vh;
}
