




button {
  width: 100%;
  margin: 5px;
}

.auth-separator {
  font-size: 16px;
    font-weight: 400;
    margin: 1em auto;
    position: relative;
    text-align: center;
}

.or-span {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.or-span::before {
  left: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.or-span::after {
  right: 0;
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  width: 43%;
}

.login-form-ul > ul {
  z-index: 10px;
}

input {
  width: 150px;
}


.username-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.username-div input {
  width: 100%;
  padding: 4px;
  height: 20px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
}

.username-div label {
font-size: 16px;
}

.password-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
align-items: center;
}

.password-div input {
  width: 100%;
  padding: 4px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
}

.password-div label {
  font-size: 16px;
  }

label {
  text-align: center;
}

.signin-form button {
  margin: 10px 0;
  width: 100%;
}

.signin-form label {
  margin-bottom: 6px;
}

.signin-form {
  padding: 40px;

}

.modal-dialog {
  width: fit-content;
}
