.home-search-container {
  display: flex;
height: 100%;
margin-bottom: 10px;
   align-items: center;
  flex-direction: column;


  background-color: white;
  padding-top: 20px;

}

.home-search-container input {
  width: 500px;
  height: 38px;
  background-color:#f2f2f2;
  border: none;
  padding: 2px 14px;
  margin-top: 2px;
}


.home-search-container h2 {
  font-weight:lighter;
}

.home-search-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 100%;
  margin: 0 auto;

  /* width: 1200px; */

  padding: 20px 40px;
  /* height: 500px; */
  max-height:100%;
  overflow-y: scroll;
}

.title-div-homepage {
  margin-top: 4px;
}

.top-half {
  min-height: 90%;
}

.footer-half {
  min-height: 10%;
}
