/* TODO Add site wide styles */
#root {
  background-color: #f2f2f2;
  overflow-y: scroll;
  box-sizing: border-box;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  /* max-width: 100vh; */
  /* min-height: 100vh;
  max-width: 100vh; */
  /* height: 100vh; */

/* height: auto;
max-width: 100%;
max-height: 100vh;

margin: auto; */
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}

body, html {
  /* width: auto; */
  margin: 0 auto;
  /* min-width: 1220px; */
  /* min-width: 850px; */
  /* width:100vmax; */
  /* height: 100vh; */
  /* max-height: 100%; */
  /* overflow-y: scroll; */
  /* resize: vertical; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


}

button {
  background: transparent;
  color: rgb(64, 64, 64);
  /* border-color: #ccc; */
  padding: 2px 15px;
  height: 30px;
  line-height: 24px;
  margin: 0 0 0 6px;
  display: inline-block;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  transition: opacity .2s linear;
}

img {
  object-fit: cover;
}

.continuous-audio-playback {
  position: fixed;
  bottom: -9px;
  width: 100%;
  /* height:  */
}
.react-audio-player {
  width: 100%;
  /* max-width: 4000px; */
}

.rhap_progress-section {
  padding: 0;
  height: 50px;

}

.continuous-headings {
  position: absolute;
  /* z-index: 10; */
  bottom: 16px;
  display: flex;
  flex-direction:column;
  left: 40px;

}

.continuous-headings a {
  padding: 0;
  margin: 0;

}

.home-body-container {
  width:auto;
  height: 1080px;
  
}
