

.username-div {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.password-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}

.signup-form label {
  padding: 6px 0;
}

.signup-form button {
  margin: 0;
  /* padding: 0; */
}

#profile-avatar-upload {
  display: none;
  cursor: pointer;
}

#profile-avatar-label {
  border: .1px rgb(190, 188, 188) solid;
  cursor: pointer;
  font-size: 13px;
padding: 2px 4px;
border-radius: 4px;
margin-top: 6px;
}
