

.library-nav {
  padding-left: 10px;
  display: flex;
  width: 100%;
  justify-content: left;
  padding-top: 15px;
}

.library-nav-selected {
  color:#f50;
  text-decoration-line: underline;
  text-underline-position: under;
cursor: pointer;
padding: 10px;
}

.library-nav-unselected {
padding: 10px;
cursor: pointer;

}
