.playlist-card {
  margin-left: 15px;
  width: 100%;
  padding: 24px 0;

}

.playlists-container {
  width: 100%;
  height: 100%;
}
.playlist-image a {
 font-size: 12px;
 padding: 0;
 margin: 0;
 text-decoration: none;
}

.playlist-card p {
  padding: 0;
  margin: 0;
}

.username-title-playlistCard {
  margin-top: 4px;
}

.username-title-playlistCard a {
  color: black;
}
